@using AnimalShelterClient.Models

@{
  (bool,bool) values = Payload.GetValues(Context);

  @if(values.Item1 == true && values.Item2 == true)
  {
    <div>
      <p>@Html.ActionLink("Enter a new animal","Create")</p>
    </div>
  }
  else if(values.Item1 == true && values.Item2 == false)
  {
    <div>
      <p>Your login token has expired. @Html.ActionLink("login","Login","Security") again to add new animals</p>
    </div>
  }
  else
  {
    <div>
      <p>You must @Html.ActionLink("login","Login","Security") in order to post animals</p>
    </div>
  }
<hr>
}

@foreach(Animal a in @Model)
{
  <p>@Html.ActionLink(a.Name,"Details",new {id = a.AnimalId})</p>
}